# Louisville Free Public Library

Analysis of Louisville Free Public Library collection inventory.

Data Source: [Louisville Metro Open Data](https://data.louisvilleky.gov/datasets/LOJIC::louisville-metro-ky-library-collection-inventory-/about)

In [3]:
import pandas as pd

In [4]:
books_df = pd.read_csv('books.csv.gz')

In [5]:
books_df.columns

Index(['BibNum', 'Title', 'Author', 'ISBN', 'PublicationYear', 'ItemType',
       'ItemCollection', 'ItemLocation', 'ItemPrice', 'ReportDate'],
      dtype='object')

In [6]:
books_df.shape

(1190176, 10)

In [7]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190176 entries, 0 to 1190175
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BibNum           1190176 non-null  int64
 1   Title            1190175 non-null  object
 2   Author           1124225 non-null  object
 3   ISBN             1153891 non-null  float64
 4   PublicationYear  1190176 non-null  int64
 5   ItemType         1190176 non-null  object
 6   ItemCollection   1190036 non-null  object
 7   ItemLocation     1190176 non-null  object
 8   ItemPrice        1190176 non-null  float64
 9   ReportDate       1190176 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 90.8+ MB

In [8]:
books_df.isnull().sum().sort_values(ascending=False)

Author             65951
ISBN               36285
ItemCollection       140
Title                  1
BibNum                 0
PublicationYear        0
ItemType               0
ItemLocation           0
ItemPrice              0
ReportDate             0
dtype: int64

In [9]:
books_df.head()

,BibNum,Title,Author,ISBN,PublicationYear,ItemType,ItemCollection,ItemLocation,ItemPrice,ReportDate
0,707409,"Jeff Immelt and the new GE way : innovation, t...","Magee, David, 1965-",9.780072e+12,2009,Book,Adult Non-Fiction,Main,25.95,02/01/2023 00:00:00
1,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
2,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Southwest,19.99,02/01/2023 00:00:00
3,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00
4,707411,Robin rescues dinner : 52 weeks of quick-fix m...,"Miller, Robin, 1964-",9.780307e+12,2009,Book,Adult Non-Fiction,Remote Shelving - Main,19.99,02/01/2023 00:00:00

In [11]:
books_df['ItemType'].unique()

array(['Book'], dtype=object)

In [12]:
books_df['ItemCollection'].unique()

array(['Adult Non-Fiction', 'Adult Fiction', 'Mystery',
       'Older Teen Fiction', 'Younger Teen  Fiction', 'Adult Paperback',
       'Science Fiction', "Children's Fiction", 'Western',
       "Children's Picture Paperback", "Children's Paperback",
       "Children's Picture Book", 'International Collection',
       'ELL Collection', 'Teen Non-Fiction', "Children's Non-Fiction",
       'Holiday', 'Natural Resources', 'Kentucky History', 'Oversize',
       'Urban Fiction', 'Bestsellers', 'Storytime Collection',
       "Children's Board Book", "Children's Easy Reader",
       'Preschool  Picture Book', 'Adult Reference', 'Interlibrary Loan',
       nan, 'Adult Paperbacks Tall', "Children's Easy Reader Paperback",
       'Caldecott/Newbery', 'Laptop', 'Government Documents',
       'Large Print', 'Telereference', "Children's Non-Fiction Paperback",
       'Big Book', "Children's Reference", 'Teen Reference',
       'College Shop', 'Magazines and Newspaper',
       'Younger Teen  Paperback', 'Younger Teen  Audiobook', 'Readalongs',
       'Listening Device', 'Adult Audiobook', 'Electronic',
       "Children's Music", 'Adult DVD', 'Music', 'Book Discussion Kit'],
      dtype=object)

In [13]:
books_df['ItemLocation'].unique()

array(['Main', 'Southwest', 'Remote Shelving - Main', 'Newburg',
       'South Central', 'St Matthews', 'Fairdale', 'Bon Air',
       'Jeffersontown', 'Iroquois', 'Crescent Hill',
       'Remote Shelving - Shawnee', 'Northeast', 'Childrens Main Library',
       'Shively', 'Highlands - Shelby Park', 'Middletown', 'Portland',
       'Western', 'Main Teen', 'Shawnee', 'Childrens Bookmobile',
       'Content Management', 'Adult Bookmobile'], dtype=object)

In [14]:
books_df['Author'].unique()

array(['Magee, David, 1965-', 'Miller, Robin, 1964-', 'Stern, Jane.', ...,
       'Gabrielle, Lara, 1985-', 'Scheeres, Julia', 'Gomzin, Slava'],
      dtype=object)

In [15]:
books_df['ItemType'].value_counts()

Book    1190176
Name: ItemType, dtype: int64

In [16]:
books_df['ItemCollection'].value_counts()

Adult Non-Fiction                   371433
Adult Fiction                       177604
Children's Non-Fiction               86356
Mystery                              60314
Children's Picture Book              59348
Preschool  Picture Book              51276
Children's Fiction                   48446
Adult Paperback                      45302
Children's Paperback                 45076
Children's Easy Reader               24511
Teen Non-Fiction                     24376
Older Teen Fiction                   23787
Children's Board Book                20057
Younger Teen  Fiction                17532
Kentucky History                     16962
Science Fiction                      16048
Children's Easy Reader Paperback     15959
Holiday                              15583
International Collection             15581
Adult Reference                      11197
Children's Picture Paperback          9731
Urban Fiction                         7601
Caldecott/Newbery                     6777
Storytime Collection                  4070
Government Documents                  3355
Oversize                              2252
Western                               2140
Bestsellers                           2122
ELL Collection                        1832
Natural Resources                     1505
Adult Paperbacks Tall                  757
Children's Reference                   541
Interlibrary Loan                      168
Laptop                                 101
Big Book                                94
Children's Non-Fiction Paperback        67
Large Print                             59
Readalongs                              38
College Shop                            18
Listening Device                        16
Telereference                           10
Teen Reference                           8
Younger Teen  Audiobook                  6
Magazines and Newspaper                  5
Adult DVD                                4
Electronic                               3
Music                                    2
Younger Teen  Paperback                  2
Adult Audiobook                          2
Children's Music                         1
Book Discussion Kit                      1
Name: ItemCollection, dtype: int64

In [17]:
books_df['ItemLocation'].value_counts()

Remote Shelving - Main       139987
Northeast                    124473
Southwest                    122113
Main                         121439
South Central                115837
Bon Air                       74730
St Matthews                   69531
Jeffersontown                 56706
Iroquois                      52382
Highlands - Shelby Park       45539
Crescent Hill                 42837
Childrens Main Library        38994
Middletown                    33120
Shively                       23623
Newburg                       23586
Fairdale                      23149
Shawnee                       22906
Western                       21648
Portland                      13334
Childrens Bookmobile           9129
Remote Shelving - Shawnee      9083
Main Teen                      6024
Content Management                4
Adult Bookmobile                  2
Name: ItemLocation, dtype: int64

In [18]:
books_df['Author'].value_counts()

Patterson, James, 1947-                 5856
Osborne, Mary Pope.                     2063
Steel, Danielle                         1824
Pilkey, Dav, 1966-                      1812
Seuss, Dr.                              1812
                                        ...
Sánchez Ferlosio, Rafael, 1927-2019       1
Pippen, Kitty, 1919-2018                   1
Adkins, Frank (Francis A.)                 1
Ray, James A.                              1
Kniffke, Sophie.                           1
Name: Author, Length: 187472, dtype: int64

In [19]:
books_df['ItemPrice'].describe()

count    1.190176e+06
mean     1.845097e+01
std      1.599772e+01
min      0.000000e+00
25%      1.095000e+01
50%      1.599000e+01
75%      2.495000e+01
max      1.077000e+03
Name: ItemPrice, dtype: float64